@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

@font-face {
	font-family: 'lcweb-remix';
	src:url('https://dl.dropboxusercontent.com/u/51228196/remix-challenge/lcweb-remix-font/fonts/lcweb-remix.eot?hp3org');
	src:url('https://dl.dropboxusercontent.com/u/51228196/remix-challenge/lcweb-remix-font/fonts/lcweb-remix.eot?#iefixhp3org') format('embedded-opentype'),
		url('https://dl.dropboxusercontent.com/u/51228196/remix-challenge/lcweb-remix-font/fonts/lcweb-remix.ttf?hp3org') format('truetype'),
		url('https://dl.dropboxusercontent.com/u/51228196/remix-challenge/lcweb-remix-font/fonts/lcweb-remix.woff?hp3org') format('woff'),
		url('https://dl.dropboxusercontent.com/u/51228196/remix-challenge/lcweb-remix-font/fonts/lcweb-remix.svg?hp3org#lcweb-remix') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* resetter */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/***********************/

*, *:before, *:after {
	box-sizing: border-box; 
}

html {
	display: table;
	height: 100vh;
	width: 100%;
	vertical-align: middle;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
html:before,
html:after,
body:before, 
body:after {
	content: "";
	position: fixed;
}
html:after {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
    z-index: 15;
	opacity: 0.3;
}
html:before {
	top: -3%;
	bottom: -3%;
	left: -3%;
	right: -3%;	
	background: url("https://c.pxhere.com/photos/5a/b0/architecture_modern_minimal_home_office_building_work_office_space-1071760.jpg!d") no-repeat center center #333;
	background-size: cover;
    z-index: 10;
	
	-webkit-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
    
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	opacity: 1;
	box-shadow: 0 0 7em rgba(0, 0, 0, 0.55) inset;	
}

html:before,
html:after {
    -webkit-transform: translateY(103%) translateZ(0);
	transform: translateY(103%) translateZ(0);  
    
    -webkit-animation: slide_up_bg .7s ease-out 2.15s forwards;
	animation: slide_up_bg .7s ease-out 2.15s forwards;
}
@-webkit-keyframes slide_up_bg {
    100% {
        -webkit-transform: translateY(0%) translateZ(0);
    }
}
@keyframes slide_up_bg {
    100% {
        transform: translateY(0%) translateZ(0);
    }
}
    
    
body {
    font-family: Raleway, sans-serif;
    color: #525252;
	-webkit-text-stroke: #545454 0.1px;
    font-weight: 400;
	display:table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	padding: 35px 0 0;
}
body:before {
	display: block;
    z-index: 170;
    top: -25%;
	left: 0;
	width: 100%;
	height: 150%;
	background: #272727;
    
    -webkit-transform: skew(0deg, 4deg) scale(1) translateZ(0);
	transform: skew(0deg, 4deg) scale(1) translateZ(0);
    
    -webkit-animation: slide_up_loader .9s ease-out 2.2s forwards;
	animation: slide_up_loader .9s ease-out 2.2s forwards;
}
@-webkit-keyframes slide_up_loader {
    100% {
        top: -175%;
    }
}
@keyframes slide_up_loader {
    100% {
        top: -175%;
    }
}
    
    
body:after {	
	z-index: 180;
	
	width: 180px;
	height: 180px;
	top: 150%;
    left: 50%;
    margin-left: -90px;
    margin-top: -90px;
    
	background: #fff;
	border-style: solid;
	border-color: #0099ff;
	border-width: 0; 
	
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.05);
    
	-webkit-transform: skew(0deg, 4deg) scale(0) translateZ(0);
	-ms-transform: skew(0deg, 4deg) scale(0);
	transform: skew(0deg, 4deg) scale(0) translateZ(0);
	
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-animation: init_shape 2.65s cubic-bezier(0.680, 0, 0.265, 1) .5s forwards;
	animation: init_shape 2.65s cubic-bezier(0.680, -0.550, 0.265, 1.550) .5s forwards;	
}
@-webkit-keyframes init_shape {
    28%{
		top: 50%;
        border-width: 0;  
        -webkit-transform: skew(0deg, 4deg) scale(1) translateZ(0);
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.05);
	}
    53% {
        top: 50%;
        border-width: 180px 0 0 180px;
        -webkit-transform: skew(0deg, 4deg) scale(1) translateZ(0);
        box-shadow: 0 0 0 11px rgba(255, 255, 255, 0.05);
    }
	100%{
		top: -50%;
        border-width: 180px 0 0 180px; 
        -webkit-transform: skew(0deg, 4deg) scale(0) translateZ(0);
        box-shadow: 0 0 0 11px rgba(255, 255, 255, 0.05);
	}
}
@keyframes init_shape {
    28%{
		top: 50%;
        border-width: 0;  
        transform: skew(0deg, 4deg) scale(1) translateZ(0);
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.05);
	}
    53% {
        top: 50%;
        border-width: 180px 0 0 180px;
        transform: skew(0deg, 4deg) scale(1) translateZ(0);
        box-shadow: 0 0 0 11px rgba(255, 255, 255, 0.05);
    }
	100%{
		top: -50%;
        border-width: 180px 0 0 180px; 
        transform: skew(0deg, 4deg) scale(0) translateZ(0);
        box-shadow: 0 0 0 11px rgba(255, 255, 255, 0.05);
	}
}
    
    
aside {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
    padding: 45px 0 93px;
	
	background-color: none;
	width: 95%;
	max-width: 550px;	
	z-index: 10;
	text-align: left;
	
	position: relative;
	z-index: 20; 
	display: inline-block;
	
	opacity: 0;
	display: block;
    margin: auto;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-transform: scale(0.85) translate3d(0, 100px, 0);
	-ms-transform: scale(1) translateZ(0);
	transform: scale(0.85) translate3d(0, 80px, 0);
	
	-webkit-animation: central_show 0.9s ease 2.6s forwards;
	animation: central_show 0.9s ease 2.6s forwards;	
}
@-webkit-keyframes central_show {
    100%{
		opacity: 1;
		-webkit-transform: scale(1) translate3d(0, 0, 0);
	}
}
@keyframes central_show {
    100%{
		opacity: 1;
		transform: scale(1) translate3d(0, 0, 0);
	}
}


.portfolio  {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-color:#777;
	}
  .portfolio img {
	margin-left: 100px;
	display: inline-block;
	float: left;
	margin: 15px;
	cursor: pointer;
	transition: all 0.4s;
  }
  .portfolio:hover img {
	opacity: 0.6;
	transform: scale(0.8);
	-webkit-filter: blur(2px);
  }
  .portfolio img:hover {
	opacity: 1;
	transform: scale(1.50);
	-webkit-filter: blur(0);
  }
  
  .cent{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  padding-bottom: 25px;
  background: #777;
  }
	
	  .container{
		width: 20%;
	  }
  .carousel {
		  position: relative;
		  box-shadow: inset 0px 1px 6px rgba(65, 65, 65, 0.397);
		  margin: 0;
		  padding: 0;
		  left: 0;
		  top: 0;
		
	  }
	  
	  .carousel-inner {
		  position: relative;
		  overflow: hidden;
		  width: 100%;
		  height: 80vh;
	  }
	  
	  .carousel-open:checked + .carousel-item {
		  position: static;
		  opacity: 100;
		  transform: translate3d(0,0,0);
	  }
	  .carousel-open:checked + .carousel-item>.carousel-caption {
		 opacity: 100;
	  }
	  
	  .carousel-item {
		  position: absolute;
		  opacity: 0;
		  transition: all 0.6s ease-in-out;
		 transform: translate3d(100%,0,0);
	  }
	  
	  .carousel-item img {
		  display: block;
		  height: 100%;
		  width: 100%;
		filter: grayscale(50%);
	  }
	  
	  .carousel-item>.carousel-caption {
		color: rgb(255, 255, 255);
		font-size: 1.35em;
		z-index: 1000;
		position: absolute;
		top: 40%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 90%;
		text-align:center;
		opacity: 1;
	  }
	  #carousel-1 .carousel-caption {
		top:35%;
	  }
	  #carousel-2 .carousel-caption {
		top:35%;
	  }
	  .carousel-control {
		  background: #3d3d3d;
		  color: #ffffff;
		  cursor: pointer;
		  display: none;
		  font-size: 3.75em;
		  height: 45px;
		  line-height: 35px;
		  position: absolute;
		  top: 50%;
		  cursor: pointer;
		  transform: translate(0, -50%);
		  text-align: center;
		  width: 60px;
		  z-index: 10;
		  transition: all 0.25s ease-in-out;
	  }
	  .carousel-control.prev {
		  left: -10px;
		  border-radius: 0px 0px 0px 0;
	  }
	  .carousel-control.next {
		  right: -10px;
		  border-radius: 0px 0 0 àpx;
	  }
	  .carousel-control:hover {
		  background: rgba(68, 68, 68, 0.842);
		  color: #fff;
		  width: 70px;
	  }
	  .carousel-control.prev:hover {
		 left: 0;
	  }
	  .carousel-control.next:hover {
		right: 0;
	  }
	  #carousel-1:checked ~ .control-1,
	  #carousel-2:checked ~ .control-2,
	  #carousel-3:checked ~ .control-3 {
		  display: block;
	  }
	  .carousel-indicators {
		  list-style: none;
		  margin: 0;
		  padding: 0;
		  position: absolute;
		  bottom: 2%;
		  left: 0;
		  right: 0;
		  text-align: center;
		  z-index: 10;
		  transition: all 0.5s ease-in-out;
	  }
	  .carousel-indicators li {
		  display: inline-block;
		  margin: 0 5px;
	  }
	  
	  .carousel-bullet {
		  background: #fff;
		  cursor: pointer;
		  display: block;
		  height: 12px;
		  width: 12px;
		  border-radius: 50%;
	  }
	  #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
	  #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
	  #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
		  background: #707070;
		  animation: gradient 200ms ease-in-out;
	  }
	  .carousel-bullet:hover {
		  background: #aaaaaa;
	  }
	  @keyframes gradient {
		0% {
		  background: radial-gradient(circle at center, rgb(255, 255, 255) 0%, #fff 0%, #fff 100%);
		}
		25% {
		  background: radial-gradient(circle at center, rgb(255, 255, 255) 24%, #fff 25%, #fff 100%);
		}
		50% {
		  background: radial-gradient(circle at center, rgb(255, 255, 255) 49%, #fff 50%, #fff 100%);
		}
		75% {
		  background: radial-gradient(circle at center, rgb(255, 255, 255) 74%, #fff 75%, #fff 100%);
		}
		100% {
		  color: #fff;
		  background: radial-gradient(circle at center, #ffffff 99%, #fff 100%, #fff 100%);
		}
	  }
/* img block */
header a {
	position: relative;
	top: -24px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.35);
	display: block;
	text-align: center;
	height: 130px;
	overflow: visible;
	z-index: 20;
	
	-webkit-transform: skew(0deg, 4deg);
	-ms-transform: skew(0deg, 4deg);
	transform: skew(0deg, 4deg);
	
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
header a img {	
    transform: rotate(1deg);
	border: 3px solid #f1f1f1;
	box-shadow: 0 0 0 0 #f1f1f1;
	max-width: 170px;
	top: -18px;
	position: relative;
	z-index: 10;
	
	-webkit-transform: skew(0deg, -4deg);
	-ms-transform: skew(0deg, -4deg);
	transform: skew(0deg, -4deg);
	
	-webkit-transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
	-ms-transition: 	border .2s ease-in-out, box-shadow .2s ease-in-out;
	transition:			border .2s ease-in-out, box-shadow .2s ease-in-out;
}
header a:hover img {
	border: 2px solid #e9e9e9;
	box-shadow: 0 0 0 3px #e9e9e9;
}


/* text block */
header h1, 
header h2,
.profile-bio {
	background-color: #fff;	
	padding: 0 55px;
	position: relative;
}
header h1 {
	text-align: center;
	font-size: 45px;
	line-height: 45px;
	font-weight: 300;
	color: #555;
	-webkit-text-stroke: #555 0.1px;
	padding-top: 25px;
	padding-bottom: 3px;	
}
header h2 {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 300;
	color: #888;
	-webkit-text-stroke: #888 0.1px;
	padding-top: 0px;
	padding-bottom: 35px;	
	position: relative;
}
header h2:after {
	content: "";
	width: 60%;
	height: 2px;
	background: #f1f1f1;
	bottom: 0;
	left: 20%;
	position: absolute;	
	z-index: 1;
}
.profile-bio {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	padding-top: 35px;
	padding-bottom: 60px;	
	text-align: justify;	
	word-break: break-word;
	hyphens: auto;
}

h1:before,
.profile-bio:before {
	content: "";
	display: block;
	height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
	background: #fff;
	
	-webkit-transform: 	skew(0deg, 4deg) translateZ(0);
	-ms-transform: 		skew(0deg, 4deg);
	transform: 			skew(0deg, 4deg) translateZ(0);
}
h1:before {
	top: -25px;	
}
.profile-bio:before {
	bottom: -25px;	
	z-index: 2;
}

.comp {
width: 100%;
}
/* socials */
.profile-social-links {
	background: none;
    bottom: -37px;
    display: table;
    height: 70px;
	width: 100%;
    overflow: visible;
    position: relative;
	z-index: 19;
    
	-webkit-transform: 	skew(0deg, 4deg) translateZ(0);
	-ms-transform: 		skew(0deg, 4deg);
	transform: 			skew(0deg, 4deg) translateZ(0);
	
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.profile-social-links li {
	display: table-cell;
	width: 33.3%;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	vertical-align: middle;
	padding: 0 2px;
	background-clip: content-box;
	position: relative;

	-webkit-transition: all 0.4s ease;
	-ms-transition: 	all 0.4s ease;
	transition:			all 0.4s ease;
	
	font-family: 'lcweb-remix';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}
.profile-social-links li:first-child {
	padding-left: 0;	
}
.profile-social-links li:last-child {
	padding-right: 0;	
}	
.profile-social-links:hover li{
	width: 31%;
}	
.profile-social-links li:hover {
	width: 38%;
	background-color: rgba(255, 255, 255, 0.25);
}


.profile-social-links li a {
	display: inline-block;
	width: 100%;
	height: 70px;
	position: relative;
	text-decoration: none;
	
	-webkit-transform: 	skew(0deg, -4deg) translateZ(0);
	-ms-transform: 		skew(0deg, -4deg);
	transform: 			skew(0deg, -4deg) translateZ(0);
}
.profile-social-links li a:before {
	content: "";
	border-radius: 50%;
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	background-color: #fff;
	border: 0px solid #f6f6f6;
	z-index: -1;
	
	-webkit-transform: 	translate3d(-50%, -50%, 0);
	-ms-transform: 		translate(-50%, -50%);
	transform: 			translate3d(-50%, -50%, 0);
	
	-webkit-transition: all 0.4s cubic-bezier(0.680, 0, 0.265, 1);
	-ms-transition: 	all 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition:			all 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);	
}
.profile-social-links li:hover a:before {
	width: 103px;
	height: 103px;
	border-width: 4px;
}
.profile-social-links img {
	width: 80px;
	height: 80px;
}
.profile-social-links li a:after {
	position: absolute;
	z-index: 25;
	top: 50%;
	left: 50%;
	font-size: 24px;
	color: #727272;
	opacity: 0.9;
	
	-webkit-transform:  translate3d(-50%, -50%, 0) skew(0deg, -4deg);
	-ms-transform: 		translate(-50%, -50%) skew(0deg, -4deg);
	transform: 			translate3d(-50%, -50%, 0) skew(0deg, -4deg);
	
	-webkit-transition: all 0.3s ease;
	-ms-transition: 	all 0.3s ease;
	transition:			all 0.3s ease;
}

.profile-social-links li:nth-child(1) a:after {content: "\e602";}
.profile-social-links li:nth-child(2) a:after {content: "\e601";}
.profile-social-links li:nth-child(3) a:after {content: "\e600";}

.profile-social-links li a:hover:after {
	font-size: 28px;
	opacity: 1;
}

.profile-social-links li:nth-child(1):hover a:after {color: #55acee;}
.profile-social-links li:nth-child(2):hover a:after {color: #82b541;}
.profile-social-links li:nth-child(3):hover a:after {color: #333;}


header h1, 
header h2,
.profile-bio,
h1:before,
.profile-bio:before {
	background: #fff; 
	background: -moz-linear-gradient(left,  #0099ff 0%, #0099ff 1%, #ffffff 1%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0099ff), color-stop(1%,#0099ff), color-stop(1%,#ffffff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(left,  #0099ff 0%,#0099ff 1%,#ffffff 1%,#ffffff 100%);
	background: -o-linear-gradient(left,  #0099ff 0%,#0099ff 1%,#ffffff 1%,#ffffff 100%);
	background: linear-gradient(to right,  #0099ff 0%,#0099ff 1%,#ffffff 1%,#ffffff 100%); 
}


/* inner elements animation */ 
header a, header a:after,
.profile-social-links {
	opacity: 0;
}
header a {
	top: -54px;	
	-webkit-animation: top_show .55s ease 2.9s forwards;
	animation: top_show .55s ease 2.9s forwards;	
}
@-webkit-keyframes top_show {
    100%{opacity: 1; top: -24px;}
}
@keyframes top_show {
    100%{opacity: 1; top: -24px;}
} 


.profile-social-links {
	bottom: -67px;	
	-webkit-animation: social_show .65s ease 2.9s forwards;
	animation: social_show .65s ease 2.9s forwards;	
}
@-webkit-keyframes social_show {
    100%{opacity: 1; bottom: -37px;}
}
@keyframes social_show {
    100%{opacity: 1; bottom: -37px;}
}
 
   
   
   
/* responsiveness */  
@media (max-width: 650px), screen and (max-height: 600px) {
	body {
		padding-top: 15px;	
	}
	aside {
		width: 90%;
	}
	header a {
		top: -24px;
		height: 100px;
	}
	header a img {
		max-width: 145px;
		top: -15px;
	}
    
	header h1 {
		font-size: 37px;
		line-height: 37px;
	}
	header h2 {
		font-size: 18px;
		line-height: 23px;
		padding-bottom: 30px;
	}
	.profile-bio {
		font-size: 0.95em;
		line-height: 22px;
		padding-top: 30px;
		padding-bottom: 40px;	
	}
	
	.profile-social-links,
	.profile-social-links li,
	.profile-social-links li a {
		height: 58px;	
	}
	.profile-social-links li:before {
		font-size: 22px;
	}
	 .profile-card{
		display: block;
		margin: auto;
    }

	header h1, 
	header h2,
	.profile-bio,
	h1:before,
	.profile-bio:before {
		background: #fff; 
		background: -moz-linear-gradient(left,  #0099ff 0%, #0099ff 1.5%, #ffffff 1.5%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0099ff), color-stop(1.5%,#0099ff), color-stop(1.5%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(left,  #0099ff 0%,#0099ff 1.5%,#ffffff 1.5%,#ffffff 100%);
		background: -o-linear-gradient(left,  #0099ff 0%,#0099ff 1.5%,#ffffff 1.5%,#ffffff 100%);
		background: linear-gradient(to right,  #0099ff 0%,#0099ff 1.5%,#ffffff 1.5%,#ffffff 100%); 
	}
}